@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans: 'Plus Jakarta Sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #2D6A4F;
    --color-primary-dark: #1B4332;
    --color-primary-light: #40916C;
    --color-primary-extralight: #D8F3DC;
}

@layer base {
    html {
        @apply scroll-smooth;
    }
    
    body {
        @apply transition-colors duration-300 ease-in-out antialiased;
    }

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        @apply bg-gray-100 dark:bg-gray-800;
    }
    ::-webkit-scrollbar-thumb {
        @apply rounded bg-gray-400 dark:bg-gray-600 hover:bg-primary;
    }
}
